<mat-card class="search">
  <mat-card-header>
    <mat-card-title>¡Bienvenido!</mat-card-title>
    <mat-card-subtitle>¡Encuentra tu billete de autobús!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Empezando desde</mat-label>
        <input type="text" matInput formControlName="from" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of listCitiesFilter | async; ; track option) {
          <mat-option [value]="option">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Yendo para</mat-label>
        <input type="text" matInput formControlName="to" [matAutocomplete]="autoTo">
        <mat-autocomplete autoActiveFirstOption #autoTo="matAutocomplete" [displayWith]="displayFn">
          @for (option of listCitiesFilterTo | async; ; track option) {
          <mat-option [value]="option">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de salida</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="travelDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="searchTickets()"><mat-icon fontIcon="search"></mat-icon> Encontrar un boleto</button>
  </mat-card-actions>
</mat-card>
